@import 'src/assets/sass/variables';

.avatar {
  width: calc(33.3333333333% - 48px);
  height: calc(100vh - 48px);
  margin-top: 24px;
  margin-left: 28px;

  color: $accentText;

  background-color: $bgSecondary;
}

.container {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


@media (max-width: 900px) {
  .avatar {
    display: none;
  }
}
