.contacts {
    background-color: #12082e;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.84);
    font-weight: 100;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    margin: 10px auto;
    padding: 10px 20px;
    text-align: center;
    width: 80%;
}

.sendBtn {
    background-color: #ff4a48;
    cursor: pointer;
    font-weight: 700;
    height: 50px;
    width: 200px;
}