@import 'src/assets/sass/variables';

.expBox {
  width: 100%;

  box-shadow: 0 -3px 16px 3px $border;
  .expBoxTitle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    font-weight: 700;
    line-height: 31.5px;

    background: black;
    border-bottom: 1px solid $border;
    .expTitle {
      width: 100%;
      margin: 0;
      padding: 24px;

      font-size: 21px;
      font-weight: bold;
      color: $accentText;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .expList {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0;
    padding: 0 0 0 24px;
    .expItem {
      position: relative;

      margin: 34px 0;
      padding: 0;

      list-style: none;
      .expLink {
        cursor: pointer;

        font-size: 15px;
        line-height: 2;
        color: white;
        text-decoration: none;
        :hover {
          color: $accentText;
        }
      }
      .expHeading {
        margin: 0 0 10px;

        font-size: 20px;
        font-weight: 600;
        line-height: 16.5px;
        color: $accentText;
      }
      .expYear {
        margin: 0;
        padding-bottom: 7px;

        font-size: 12px;
        color: $secondaryText;

        opacity: 0.8;
      }
    }
  }
}
