@import 'src/assets/sass/variables';

.aboutTitle {
  position: relative;

  display: flex;
  justify-content: center;

  width: 100%;
  height: 60px;
  margin: 2.3733333333rem 0 1.424rem 0;

  font-size: 55px;
  font-weight: 900;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
}
.aboutTitle_white {
  position: relative;

  display: inline-block;

  color: $primaryText;

  transition: transform 0.3s;
}
.aboutTitle_yellow {
  position: relative;

  display: inline-block;

  color: $accentText;

  transition: transform 0.3s;
}
.aboutWrapperIcon {
  overflow: inherit;

  height: 1px;
  margin: 35px 0 62px;

  color: $line;
  text-align: center;

  background: none;
}
.outerLine {
  display: inline-block;

  width: 25%;

  vertical-align: middle;

  border-bottom: 1px solid $line;
}
.aboutIcon {
  margin: 0 20px;

  font-size: 20px;
  color: $accentText;
}

@media (max-width: 600px) {
  .aboutTitle {
    font-size: 35px;
  }
  .aboutWrapperIcon {
    margin: 5px 0 40px;
  }
}
