.portfolio {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    overflow-y: auto;
    left: 0 !important;
    padding: 0;
    margin: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #222;
    .portfolioWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        .portfolioInner {
            display: flex;
            flex-direction: column;
            padding: 10px 24px;
            .portfolioProjects {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
    }
}

