@import 'src/assets/sass/variables';

.portfolio {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0 !important;

  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: $bgSecondary;
  .portfolioWrapper {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    .portfolioInner {
      display: flex;
      flex-direction: column;

      padding: 10px 24px;
      .portfolioProjects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
}
