.main {
    background-color: #12082e;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 960px;
  height: 350px;
  background-color: darkred;
  font-size: 30px;
}

.text {

}

.photo {
  width: 300px;
  height: 400px;
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}








