@import 'src/assets/sass/variables';

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 50%;

  font-size: 30px;
  font-weight: 900;
  color: $primaryText;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  border-right: 10px solid $bgPrimary;
  border-bottom: 10px solid $bgPrimary;
  .textIntro {
    font-size: 20px;
    color: $secondaryText;
  }
  .textIntroName {
    margin: 20px 0;

    font-size: 35px;
    color: $primaryText;
    text-align: center;
  }
  .textIntroAccent {
    color: $accentText;
  }
}

@media (max-width: 600px) {
  .intro {
    width: 100%;
    height: 20%;
    margin-bottom: 5px;

    font-size: 20px;

    border-right: none;
    border-bottom: none;
    .textIntro {
      font-size: 16px;
    }
    .textIntroName {
      font-size: 25px;
    }
  }
}
