.intro {
    text-align: center;
    background-color: green;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 50%;
    height: 50%;
    border:solid;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
}

@media (max-width: 600px) {
    .intro {
        margin-bottom: 5px;
        font-size: 20px;
        width: 100%;
        height: 20%;
        border-bottom: none;
        border-right: none;
    }
    .intro .textIntro {
        font-size: 16px;
    }
    .intro .textIntroName {
        font-size: 25px;
    }
}
