@import 'src/assets/sass/variables';

.skillBox {
  width: 100%;

  box-shadow: 0 -3px 16px 3px $border;
  .skillHeadingBox {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    font-weight: 700;
    line-height: 31.5px;

    background: black;
    border-bottom: 1px solid $border;
    .skillHeading {
      width: 100%;
      margin: 0;
      padding: 24px;

      font-size: 21px;
      font-weight: bold;
      color: $accentText;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .skillList {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;

    padding: 0;

    list-style: none;
    .skillItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 30%;
      min-height: 140px;
      .aboutIcon {
        width: 30px;
        height: 30px;
      }
      .skillTitle {
        min-width: inherit;

        font-size: 15px;
        font-weight: 600;
        text-align: center;
        word-wrap: break-word;
      }
    }
  }
}

@media (max-width: 900px) {
  .skillBox {
    .skillList {
      .skillItem {
        .aboutIcon {
          font-size: 20px;
        }
        .skillTitle {
          font-size: 16px;
          line-height: 25px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .skillBox {
    .skillList {
      .skillItem {
        width: 48%;
        min-height: 100px;
        .aboutIcon {
          font-size: 20px;
        }
        .skillTitle {
          font-size: 14px;
          line-height: 25px;
        }
      }
    }
  }
}
