@import 'src/assets/sass/variables';

.contactBox {
  display: flex;

  padding: 0 24px;
}
.contactList {
  width: 35.3%;
  margin: 0;
  padding: 24px;

  list-style: none;

  background: $bgPrimary;
  border: 1px solid $border;
}
.contactTitle {
  margin: 18px 0;

  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: $accentText;
  text-transform: uppercase;
}
.contactText {
  font-size: 16px;
  color: $secondaryText;
  text-decoration: none;
}
.contactLink {
  font-size: 16px;
  color: $secondaryText;
  text-decoration: none;
}
.contactLink:hover {
  color: $accentText;
}

.contactIcon {
  padding-right: 10px;

  color: white;

  opacity: 0.6;
}

@media (max-width: 1050px) {
  .contactList {
    width: 38%;
  }
  .contactText {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .contactBox {
    flex-direction: column;

    padding: 20px 24px;
  }
  .contactList {
    width: 100%;
    margin-bottom: 20px;
  }
}
