.contactBox {
    display: flex;
    padding: 0 24px;

}
.contactList {
    width: 35.3%;
    padding: 24px;
    background: black;
    border: 1px solid #333;
    margin: 0;
    list-style: none;
}
.contactTitle {
    color: #ffb400;
    margin: 18px 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.contactText {
    color: #eee;
    font-size: 16px;
    text-decoration: none;
}
.contactLink {
    color: #eee;
    font-size: 16px;
    text-decoration: none;
}
.contactLink:hover {
    color: #ffb400;
}

.contactIcon {
    padding-right: 10px;
    opacity: 0.6;
    color: white;
}
@media (max-width: 1050px) {
    .contactList {
        width: 38%;
    }
    .contactText {
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    .contactBox {
        flex-direction: column;
        padding: 20px 24px;
    }
    .contactList {
        width: 100%;
        margin-bottom: 20px;
    }
}
