@import 'src/assets/sass/variables';

.resumeBox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 50px;
  padding-bottom: 50px;
  .resumeBtnBox {
    display: flex;
    flex-direction: column;

    width: 33.3%;
    padding-right: 24px;
  }
  .resumeComponentBox {
    display: flex;

    width: 66.6%;
    min-height: 660px;
    margin-left: 24px;

    border: 1px solid $border;
  }
}

.resumeBtn {
  cursor: pointer;

  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 40px;
  margin: 24px 0;

  font-size: 15px;
  font-weight: 700;
  line-height: 110%;
  color: $accentText;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  background-color: $bgFourth;
  border: 1px solid $line;
  outline: none;
}
.active {
  cursor: pointer;

  font-weight: 700;
  color: white;

  background-color: $accentText;
  border: 1px solid $accentText;
  outline: none;
}

@media (max-width: 600px) {
  .resumeBox {
    flex-direction: column;
    .resumeBtnBox {
      flex-direction: row;
      justify-content: space-evenly;

      width: 100%;
      padding: 0;
    }
    .resumeComponentBox {
      display: flex;

      width: 100%;
      margin-left: 0;
    }
  }
}
